<a href="https://colab.research.google.com/github/mahapara2411/Sentiment-Analysis/blob/master/Untitled75.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 70kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 44.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=3a3f57236df8ccb9a8cdb596cb208c71065558d6099d2284742214db6ed41f22
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [ ]:
import os
import time

# spark imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction, explode, desc
from pyspark.sql.types import StringType, ArrayType
from pyspark.mllib.recommendation import ALS

# data science imports
import math
import numpy as np
import pandas as pd

# visualization imports
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#Upload the Dataset
from google.colab import files
uploaded = files.upload()

Saving testing 1.csv to testing 1.csv

In [ ]:
# Dataset is now stored in a Pandas Dataframe
import io
hotel_data = pd.read_csv(io.BytesIO(uploaded['testing 1.csv']))

In [ ]:
hotel_data.head()

   Hotel_id  ... User_id
0      3020  ...       0
1      3099  ...       1
2      3046  ...       2
3      1171  ...       3
4      2189  ...       4

[5 rows x 12 columns]

In [ ]:
# Checking for missing values
pd.isnull(hotel_data).any()
pd.isnull(hotel_data).sum()

Hotel_id            0
Hotel               0
Address             0
City                0
Title              10
Users               0
Reviews             0
Rating              7
Hotel_Type        243
Price             303
Hotel_Category      0
User_id             0
dtype: int64

In [ ]:
hotel_data = hotel_data.dropna()
hotel_data = hotel_data.reset_index(drop=True)
print('Shape of dataset ',hotel_data.shape)
print(hotel_data.columns)

Shape of dataset  (2425, 12)
Index(['Hotel_id', 'Hotel', 'Address', 'City', 'Title', 'Users', 'Reviews',
       'Rating', 'Hotel_Type', 'Price', 'Hotel_Category', 'User_id'],
      dtype='object')

In [ ]:
hotel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2425 entries, 0 to 2424
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel_id        2425 non-null   int64
 1   Hotel           2425 non-null   object
 2   Address         2425 non-null   object
 3   City            2425 non-null   object
 4   Title           2425 non-null   object
 5   Users           2425 non-null   object
 6   Reviews         2425 non-null   object
 7   Rating          2425 non-null   float64
 8   Hotel_Type      2425 non-null   float64
 9   Price           2425 non-null   object
 10  Hotel_Category  2425 non-null   object
 11  User_id         2425 non-null   int64
dtypes: float64(2), int64(2), object(8)
memory usage: 227.5+ KB

In [ ]:
hotel_data.head()

   Hotel_id  ... User_id
0      3020  ...       0
1      3099  ...       1
2      3046  ...       2
3      2189  ...       4
4      1607  ...       5

[5 rows x 12 columns]

In [ ]:
# spark config
spark = SparkSession \
    .builder \
    .appName("Hotel recommendation") \
    .config("spark.driver.maxResultSize", "96g") \
    .config("spark.driver.memory", "96g") \
    .config("spark.executor.memory", "8g") \
    .config("spark.master", "local[12]") \
    .getOrCreate()
# get spark context
sc = spark.sparkContext